altgraph==0.17
anaconda==0.0.1.1
asgiref==3.2.3
attrs==19.3.0
backcall==0.1.0
bleach==3.1.4
blinker==1.4
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography==3.3.1
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.0.2
django-heroku==0.3.1
entrypoints==0.3
et-xmlfile==1.0.1
f1==1.0.1
Flask==1.1.2
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.4
future==0.18.2
gTTS==2.2.2
gunicorn==20.0.4
idna==2.10
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
llvmlite==0.35.0
lxml==4.6.1
macholib==1.14
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
modulegraph==0.18
MouseInfo==0.1.3
mpmath==1.1.0
nbconvert==5.6.1
nbformat==5.0.5
notebook==6.0.3
numba==0.52.0
numpy==1.18.1
opencv-python==4.5.1.48
openpyexcel==2.5.14
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
pefile==2019.4.18
pickleshare==0.7.5
Pillow==7.2.0
prometheus-client==0.7.1
prompt-toolkit==3.0.5
psutil==5.7.2
psycopg2==2.8.6
py2app==0.22
pyAesCrypt==0.4.4
PyAutoGUI==0.9.52
pycalendar==2.0
pycparser==2.20
pygame==1.9.6
PyGetWindow==0.0.9
Pygments==2.6.1
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.8
PyJWT==1.7.1
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.1
PyQt5==5.15.1
PyQt5-sip==12.8.0
pyqt5-tools==5.15.1.1.7.4
PyRect==0.1.4
pyrsistent==0.16.0
PyScreeze==0.1.26
pyTelegramBotAPI==3.7.4
python-dateutil==2.8.1
python-docx==0.8.10
python-dotenv==0.14.0
PyTweening==1.0.3
pytz==2019.3
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzbar==0.1.8
pyzmq==19.0.0
qrcode==6.1
qtconsole==4.7.2
QtPy==1.9.0
requests==2.24.0
scipy==1.4.1
Send2Trash==1.5.0
six==1.14.0
SpeechRecognition==3.8.1
SQLAlchemy==1.3.20
sqlparse==0.3.0
sympy==1.5.1
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==4.3.3
twilio==6.46.0
urllib3==1.25.10
vk-api==11.9.1
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
widgetsnbextension==3.5.1
